[submodule "Library/ObjectiveGL"]
	path = Library/ObjectiveGL
	url = https://github.com/kelingjie1/ObjectiveGL.git
[submodule "Library/glm"]
	path = Library/glm
	url = https://github.com/g-truc/glm.git
